{% extends "base/main.html" %} {% block content %}

<div
  id="home"
  class="relative flex items-center justify-center h-screen bg-gery-fade text-dark-fade"
>
  <div class="text-center">
    <h1 class="text-6xl font-extrabold mb-4 leading-none tracking-wide">
      HEY, I'M DIPENDRA NATH
    </h1>
    <p class="mt-8 text-xl font-normal leading-7">
      I am an experienced backend web developer specializing in Python (Django,
      FastAPI, Flask) and Java (Spring Boot) <br />
      for creating scalable and secure server-side applications. With a
      background in top tech companies and various projects,<br />
      I excel in API development, database design, and service integration,
      focusing on writing clean, efficient, and testable code.
    </p>
    <p class="mt-8 mb-8 text-xl font-bold leading-7">
      Let's build something great together!
    </p>

    <a
      href="{{profile.resume.url}}"
      style="padding: 1.25rem 2.5rem"
      class="bg-orange-fade rounded text-dark-fade font-bold hover:bg-dark-blue shadow"
      >Download Resume</a
    >
  </div>
  <div class="absolute bottom-10 animate-bounce">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-6 w-6 mx-auto text-orange-fade"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 14l-7 7m0 0l-7-7m7 7V3"
      ></path>
    </svg>
  </div>
</div>
<div
  id="about-me"
  class="flex items-center justify-center h-screen bg-white text-dark-fade"
>
  <h2>About Me</h2>
  <div>
    <div>
      <h3>Get to Know Me!</h3>
      <p>
        I am a software engineer specializing in backend web development. I have
        a passion for creating scalable and secure server-side applications. I
        am a quick learner and a team player who is always looking to learn new
        technologies and improve my skills. I am currently looking for a
        full-time position as a backend developer.
      </p>
    </div>
    <div></div>
  </div>
</div>

{% endblock content %}
