<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dipendra Nath</title>
    <link rel="icon" type="jpg" href="{% static 'images/profile.jpg' %}"/>
    <link rel="stylesheet" href="{% static 'css/output.css' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    
</head>
<body class="bg-dark-blue text-baby-blue">
{% include "base/navbar.html" %}
{% block content %} {% endblock %}

<script src="{% static 'js/contact.js' %}"></script>
</body>
</html>
